<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script>
      window.onload = function () {
      
      var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        data: [{
          type: "doughnut",
          startAngle: 60,
          //innerRadius: 60,
          indexLabelFontSize: 17,
          indexLabel: "{label} - #percent%",
          toolTipContent: "<b>{label}:</b> {y} (#percent%)",
          dataPoints: [
            { y: 67, label: "{{logged_user.first_name|safe}}" },
            { y: 28, label: "Field 2" },
            { y: 10, label: "Field 3" },
            { y: 7, label: "Field 4"},
            { y: 15, label: "Field 5"},
          ]
        }]
      });
      chart.render();
  
      }
      </script>
    <title>VBS</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/home">Visualize, Budget, Save</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Unassigned link</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="log_out">Log Out</a>
              </li>
            </ul>
        </div>
    </nav>
    <h1>Great {{logged_user.first_name}} you logged in</h1>
    <div class="container">     
        <div class="row">
            <div class="col">
                <h1>Add a Bill</h1>
                <form action="/add_expense" method="POST">
                {% csrf_token %}
                    <label for="paid_to">Name of bill:</label>
                    <input type="text" name="paid_to" id="paid_to" class="form-control">
                    <label for="amount">Amount:</label>
                    <input type="number" id="amount" name="amount" step="0.01" class="form-control">
                    <label for="due_date">Date Due:</label>
                    <input type="date" id="due_date" name="due_date" class="form-control">
                    <input type="hidden" id="payer" name="payer" value="{{logged_user.id}}">
                    <input type="submit">
                </form>
            </div>
            <div class="col">
                <h1>Add Your Income</h1>
                <form action="/add_income" method="POST">
                {% csrf_token %}
                    <label for="in_amount">Amount:</label>
                    <input type="number" id="in_amount" name="in_amount" step="0.01" class="form-control">
                    <label for="deposit_date">Deposit Date:</label>
                    <input type="date" id="deposit_date" name="deposit_date" class="form-control">
                    <input type="hidden" id="user" name="user" value="{{logged_user.id}}">
                    <input type="submit">
                </form>
            </div>
        </div>
        <div class="row">
          <div  class="col" id="chartContainer"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-striped mx-auto" style="width: 550px;">
                    <thead class="thead-dark">
                        <tr>
                            <th>Bill:</th>
                            <th>Amount:</th>
                            <th>Due Date:</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for expense in logged_user.expenses.all %}
                        <tr>
                            <td>{{expense.paid_to}}</td>
                            <td>{{expense.amount}}</td>
                            <td>{{expense.due_date}}</td>

                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-striped mx-auto" style="width: 550px;">
                    <thead class="thead-dark">
                        <tr>
                            <th>Bill:</th>
                            <th>Amount:</th>
                            <th>Due Date:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>